# python files
__pycache__
*.pyc

# temp files
test/
dist/
tmp/
build
*.lock
*.db
mkdocs.yml
.temp
infer_log/
*.log
log.txt

# dev tools
.vscode

# docs
lazyllm_chroma/
docs/en/assets
docs/zh/assets

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build directories
build*
lazyllm_cpp.egg-info/
