[tool.poetry]
name = "lazyllm"
version = "0.1.2"
description = "A Low-code Development Tool For Building Multi-agent LLMs Applications."
authors = ["wangzhihong <wangzhihong@sensetime.com>"]
license = "Apache-2.0 license"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
appdirs = "*"
loralib = "*"
fastapi = ">=0.111.0"
loguru = ">=0.7.2"
pydantic = ">=2.5.0"
requests = ">=2.32.2"
uvicorn = ">=0.28.0"
cloudpickle = ">=3.0.0"
flake8 = ">=7.0.0"
gradio = ">=3.48.0"
gradio-client = ">=0.6.1"
protobuf = ">=3.20.1"
setuptools = "^70.0.0"
redis = { version = ">=5.0.4", optional = true }
huggingface-hub = { version = ">=0.23.1", optional = true }
jieba = { version = ">=0.42.1", optional = true }
llama-index = { version = ">=0.10.25", optional = true }
modelscope = { version = ">=1.14.0", optional = true }
pandas = { version = ">=2.2.2", optional = true }
pyjwt = { version = ">=2.8.0", optional = true }
rank-bm25 = { version = ">=0.2.2", optional = true }
redisvl = { version = ">=0.1.3", optional = true }
datasets = { version = ">=2.18.0", optional = true }
deepspeed = { version = ">=0.12.3", optional = true }
fire = { version = ">=0.6.0", optional = true }
numpy = { version = ">=1.26.4", optional = true }
peft = { version = ">=0.3.0", optional = true }
torch = { version = ">=2.1.2", optional = true }
transformers = { version = ">=4.41.1", optional = true }
collie-lm = { version = ">=1.0.7", optional = true }
faiss-cpu = { version = ">=1.8.0", optional = true }
google = { version = ">=3.0.0", optional = true }
llama-index-embeddings-huggingface = { version = ">=0.2.0", optional = true }
llama-index-storage-docstore-redis = { version = ">=0.1.2", optional = true }
llama-index-storage-index-store-redis = { version = ">=0.1.2", optional = true }
llama-index-storage-kvstore-redis = { version = ">=0.1.5", optional = true }
llama-index-vector-stores-redis = { version = ">=0.2.0", optional = true }
llama-index-retrievers-bm25 = { version = ">=0.1.3", optional = true }
scikit-learn = { version = ">=1.5.0", optional = true }
tensorboard = { version = ">=2.16.2", optional = true }
tensorboard-data-server = { version = ">=0.7.2", optional = true }
torchvision = { version = ">=0.16.2", optional = true }
vllm = { version = ">=0.4.0", optional = true }
wandb = { version = ">=0.17.0", optional = true }

[tool.poetry.extras]
full = [
    "redis",
    "huggingface-hub",
    "jieba",
    "llama-index",
    "modelscope",
    "pandas",
    "pyjwt",
    "rank-bm25",
    "redisvl",
    "datasets",
    "deepspeed",
    "fire",
    "numpy",
    "peft",
    "torch",
    "transformers",
    "collie-lm",
    "faiss-cpu",
    "google",
    "llama-index-embeddings-huggingface",
    "llama-index-storage-docstore-redis",
    "llama-index-storage-index-store-redis",
    "llama-index-storage-kvstore-redis",
    "llama-index-vector-stores-redis",
    "llama-index-retrievers-bm25",
    "scikit-learn",
    "tensorboard",
    "tensorboard-data-server",
    "torchvision",
    "vllm",
    "wandb"
]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
