appdirs
loralib
toml
fastapi>=0.111.0
loguru>=0.7.2
pydantic>=2.5.0
requests>=2.32.2
uvicorn
cloudpickle>=3.0.0
flake8>=7.0.0
gradio<5.0.0
gradio-client>=0.6.1
protobuf>=3.20.1
setuptools<70.0.0
docstring-parser
json5
tiktoken
spacy<=3.7.5
chromadb
bm25s
pystemmer
nltk
jieba>=0.42.1
pyjwt>=2.8.0
sentence-transformers
sentencepiece
modelscope
psycopg2-binary
sqlalchemy
psutil
pypdf
pytest
numpy==1.26.4
pymilvus
