toml
fastapi>=0.111.0
loguru>=0.7.2
pydantic<=2.10.6
requests>=2.32.2
uvicorn
cloudpickle>=3.0.0
gradio<5.0.0
gradio-client>=0.6.1
protobuf>=3.20.1
docstring-parser
json5
tiktoken
spacy<=3.7.5
bm25s
pystemmer
nltk
jieba>=0.42.1
pyjwt>=2.8.0
sentencepiece
psycopg2-binary
sqlalchemy
psutil
pypdf
numpy==1.26.4
async-timeout
httpx<0.28.0
docx2txt
ebooklib
html2text
olefile
openpyxl
python-pptx
tenacity
