absl-py==2.1.0 ; python_version >= "3.10" and python_version < "4.0"
accelerate==0.33.0 ; python_version >= "3.10" and python_version < "4.0"
addict==2.4.0 ; python_version >= "3.10" and python_version < "4.0"
aiofiles==23.2.1 ; python_version >= "3.10" and python_version < "4.0"
aiohappyeyeballs==2.4.0 ; python_version >= "3.10" and python_version < "4.0"
aiohttp==3.11.7 ; python_version >= "3.10" and python_version < "4.0"
aiosignal==1.3.1 ; python_version >= "3.10" and python_version < "4.0"
aliyun-python-sdk-core==2.15.2 ; python_version >= "3.10" and python_version < "4.0"
aliyun-python-sdk-kms==2.16.5 ; python_version >= "3.10" and python_version < "4.0"
annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "4.0"
antlr4-python3-runtime==4.9.3 ; python_version >= "3.10" and python_version < "4.0"
anyio==4.4.0 ; python_version >= "3.10" and python_version < "4.0"
appdirs==1.4.4 ; python_version >= "3.10" and python_version < "4.0"
asgiref==3.8.1 ; python_version >= "3.10" and python_version < "4.0"
async-timeout==5.0.1 ; python_version >= "3.10" and python_version < "4.0"
attrs==24.2.0 ; python_version >= "3.10" and python_version < "4.0"
audioread==3.0.1 ; python_version >= "3.10" and python_version < "4.0"
backoff==2.2.1 ; python_version >= "3.10" and python_version < "4.0"
bcrypt==4.2.0 ; python_version >= "3.10" and python_version < "4.0"
beautifulsoup4==4.12.3 ; python_version >= "3.10" and python_version < "4.0"
bitsandbytes==0.43.3 ; python_version >= "3.10" and python_version < "4.0"
blis==0.7.11 ; python_version >= "3.10" and python_version < "4.0"
bm25s==0.1.10 ; python_version >= "3.10" and python_version < "4.0"
build==1.2.1 ; python_version >= "3.10" and python_version < "4.0"
cachetools==5.5.0 ; python_version >= "3.10" and python_version < "4.0"
catalogue==2.0.10 ; python_version >= "3.10" and python_version < "4.0"
certifi==2024.8.30 ; python_version >= "3.10" and python_version < "4.0"
cffi==1.17.0 ; python_version >= "3.10" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_version >= "3.10" and python_version < "4.0"
chattts==0.1.1 ; python_version >= "3.10" and python_version < "4.0"
chroma-hnswlib==0.7.6 ; python_version >= "3.10" and python_version < "4.0"
chromadb==0.5.5 ; python_version >= "3.10" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.10" and python_version < "4.0"
cloudpathlib==0.19.0 ; python_version >= "3.10" and python_version < "4.0"
cloudpickle==3.0.0 ; python_version >= "3.10" and python_version < "4.0"
cmake==3.30.2 ; python_version >= "3.10" and python_version < "4.0"
collie-lm==1.0.7 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and (platform_system == "Windows" or os_name == "nt" or sys_platform == "win32")
coloredlogs==15.0.1 ; python_version >= "3.10" and python_version < "4.0"
confection==0.1.5 ; python_version >= "3.10" and python_version < "4.0"
contourpy==1.3.0 ; python_version >= "3.10" and python_version < "4.0"
crcmod==1.7 ; python_version >= "3.10" and python_version < "4.0"
cryptography==43.0.0 ; python_version >= "3.10" and python_version < "4.0"
ctranslate2==4.4.0 ; python_version >= "3.10" and python_version < "4.0"
cycler==0.12.1 ; python_version >= "3.10" and python_version < "4.0"
cymem==2.0.8 ; python_version >= "3.10" and python_version < "4.0"
datasets==2.21.0 ; python_version >= "3.10" and python_version < "4.0"
decorator==5.1.1 ; python_version >= "3.10" and python_version < "4.0"
deepspeed==0.15.0 ; python_version >= "3.10" and python_version < "4.0"
deprecated==1.2.14 ; python_version >= "3.10" and python_version < "4.0"
diffusers==0.30.2 ; python_version >= "3.10" and python_version < "4.0"
dill==0.3.8 ; python_version >= "3.10" and python_version < "4.0"
diskcache==5.6.3 ; python_version >= "3.10" and python_version < "4.0"
distro==1.9.0 ; python_version >= "3.10" and python_version < "4.0"
docker-pycreds==0.4.0 ; python_version >= "3.10" and python_version < "4.0"
docstring-parser==0.16 ; python_version >= "3.10" and python_version < "4.0"
editdistance==0.8.1 ; python_version >= "3.10" and python_version < "4.0"
einops==0.8.0 ; python_version >= "3.10" and python_version < "4.0"
einx==0.3.0 ; python_version >= "3.10" and python_version < "4.0"
encodec==0.1.1 ; python_version >= "3.10" and python_version < "4.0"
environs==9.5.0 ; python_version >= "3.10" and python_version < "4.0"
exceptiongroup==1.2.2 ; python_version >= "3.10" and python_version < "3.11"
faiss-cpu==1.8.0.post1 ; python_version >= "3.10" and python_version < "4.0"
fastapi==0.112.2 ; python_version >= "3.10" and python_version < "4.0"
ffmpy==0.4.0 ; python_version >= "3.10" and python_version < "4.0"
filelock==3.15.4 ; python_version >= "3.10" and python_version < "4.0"
fire==0.6.0 ; python_version >= "3.10" and python_version < "4.0"
flake8==7.1.1 ; python_version >= "3.10" and python_version < "4.0"
flash-attn==2.6.2 ; python_version >= "3.10" and python_version < "4.0"
flatbuffers==24.3.25 ; python_version >= "3.10" and python_version < "4.0"
fonttools==4.53.1 ; python_version >= "3.10" and python_version < "4.0"
frozendict==2.4.4 ; python_version >= "3.10" and python_version < "4.0"
frozenlist==1.4.1 ; python_version >= "3.10" and python_version < "4.0"
fsspec==2024.6.1 ; python_version >= "3.10" and python_version < "4.0"
fsspec[http]==2024.6.1 ; python_version >= "3.10" and python_version < "4.0"
funasr==1.1.6 ; python_version >= "3.10" and python_version < "4.0"
gitdb==4.0.11 ; python_version >= "3.10" and python_version < "4.0"
gitpython==3.1.43 ; python_version >= "3.10" and python_version < "4.0"
google-auth==2.34.0 ; python_version >= "3.10" and python_version < "4.0"
google==3.0.0 ; python_version >= "3.10" and python_version < "4.0"
googleapis-common-protos==1.56.4 ; python_version >= "3.10" and python_version < "4.0"
gradio-client==1.3.0 ; python_version >= "3.10" and python_version < "4.0"
gradio==4.44.1 ; python_version >= "3.10" and python_version < "4.0"
greenlet==3.0.3 ; python_version < "3.13" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version >= "3.10"
grpcio==1.66.1 ; python_version >= "3.10" and python_version < "4.0"
h11==0.14.0 ; python_version >= "3.10" and python_version < "4.0"
hf-transfer==0.1.8 ; python_version >= "3.10" and python_version < "4"
hjson==3.1.0 ; python_version >= "3.10" and python_version < "4.0"
httpcore==1.0.5 ; python_version >= "3.10" and python_version < "4.0"
httptools==0.6.1 ; python_version >= "3.10" and python_version < "4.0"
httpx==0.27.2 ; python_version >= "3.10" and python_version < "4.0"
huggingface-hub==0.25.2 ; python_version >= "3.10" and python_version < "4.0"
humanfriendly==10.0 ; python_version >= "3.10" and python_version < "4.0"
hydra-core==1.3.2 ; python_version >= "3.10" and python_version < "4.0"
idna==3.8 ; python_version >= "3.10" and python_version < "4.0"
importlib-metadata==8.4.0 ; python_version >= "3.10" and python_version < "4.0"
importlib-resources==6.4.4 ; python_version >= "3.10" and python_version < "4.0"
infinity-emb==0.0.63 ; python_version >= "3.10" and python_version < "4"
iniconfig==2.0.0 ; python_version >= "3.10" and python_version < "4.0"
intel-openmp==2021.4.0 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Windows"
interegular==0.3.3 ; python_version >= "3.10" and python_version < "4.0"
jaconv==0.4.0 ; python_version >= "3.10" and python_version < "4.0"
jamo==0.4.1 ; python_version >= "3.10" and python_version < "4.0"
jieba==0.42.1 ; python_version >= "3.10" and python_version < "4.0"
jinja2==3.1.4 ; python_version >= "3.10" and python_version < "4.0"
jiter==0.5.0 ; python_version >= "3.10" and python_version < "4.0"
jmespath==0.10.0 ; python_version >= "3.10" and python_version < "4.0"
joblib==1.4.2 ; python_version >= "3.10" and python_version < "4.0"
json5==0.9.25 ; python_version >= "3.10" and python_version < "4.0"
jsonschema-specifications==2023.12.1 ; python_version >= "3.10" and python_version < "4.0"
jsonschema==4.23.0 ; python_version >= "3.10" and python_version < "4.0"
kaldiio==2.18.0 ; python_version >= "3.10" and python_version < "4.0"
kiwisolver==1.4.5 ; python_version >= "3.10" and python_version < "4.0"
kubernetes==30.1.0 ; python_version >= "3.10" and python_version < "4.0"
langcodes==3.4.0 ; python_version >= "3.10" and python_version < "4.0"
language-data==1.2.0 ; python_version >= "3.10" and python_version < "4.0"
lark==1.2.2 ; python_version >= "3.10" and python_version < "4.0"
lazy-loader==0.4 ; python_version >= "3.10" and python_version < "4.0"
lazyllm-llamafactory==0.8.3 ; python_version >= "3.10" and python_version < "4.0"
librosa==0.10.2.post1 ; python_version >= "3.10" and python_version < "4.0"
lightllm==0.0.1 ; python_version >= "3.10" and python_version < "4.0"
llvmlite==0.43.0 ; python_version >= "3.10" and python_version < "4.0"
lm-format-enforcer==0.10.1 ; python_version >= "3.10" and python_version < "4.0"
lmdeploy==0.5.3 ; python_version >= "3.10" and python_version < "4.0"
loguru==0.7.2 ; python_version >= "3.10" and python_version < "4.0"
loralib==0.1.2 ; python_version >= "3.10" and python_version < "4.0"
marisa-trie==1.2.0 ; python_version >= "3.10" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_version < "4.0"
markdown==3.7 ; python_version >= "3.10" and python_version < "4.0"
markupsafe==2.1.5 ; python_version >= "3.10" and python_version < "4.0"
marshmallow==3.23.0 ; python_version >= "3.10" and python_version < "4.0"
matplotlib==3.9.2 ; python_version >= "3.10" and python_version < "4.0"
mccabe==0.7.0 ; python_version >= "3.10" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "4.0"
megatron-core==0.2.0 ; python_version >= "3.10" and python_version < "4.0"
milvus-lite==2.4.10 ; python_version >= "3.10" and python_version < "4.0" and sys_platform != "win32"
mkl==2021.4.0 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Windows"
mmengine-lite==0.10.4 ; python_version >= "3.10" and python_version < "4.0"
mmh3==4.1.0 ; python_version >= "3.10" and python_version < "4.0"
modelscope==1.17.1 ; python_version >= "3.10" and python_version < "4.0"
monotonic==1.6 ; python_version >= "3.10" and python_version < "4.0"
mpmath==1.3.0 ; python_version >= "3.10" and python_version < "4.0"
msgpack==1.0.8 ; python_version >= "3.10" and python_version < "4.0"
multidict==6.0.5 ; python_version >= "3.10" and python_version < "4.0"
multiprocess==0.70.16 ; python_version >= "3.10" and python_version < "4.0"
murmurhash==1.0.10 ; python_version >= "3.10" and python_version < "4.0"
nest-asyncio==1.6.0 ; python_version >= "3.10" and python_version < "4.0"
networkx==3.3 ; python_version >= "3.10" and python_version < "4.0"
ninja==1.11.1.1 ; python_version >= "3.10" and python_version < "4.0"
nltk==3.9.1 ; python_version >= "3.10" and python_version < "4.0"
numba==0.60.0 ; python_version >= "3.10" and python_version < "4.0"
numpy==1.26.4 ; python_version >= "3.10" and python_version < "4.0"
nvidia-cublas-cu12==12.1.3.1 ; python_version >= "3.10" and python_version < "4.0"
nvidia-cuda-cupti-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "4.0"
nvidia-cuda-nvrtc-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "4.0"
nvidia-cuda-runtime-cu12==12.1.105 ; python_version >= "3.10" and python_version < "4.0"
nvidia-cudnn-cu12==8.9.2.26 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "4.0"
nvidia-cufft-cu12==11.0.2.54 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "4.0"
nvidia-curand-cu12==10.3.2.106 ; python_version >= "3.10" and python_version < "4.0"
nvidia-cusolver-cu12==11.4.5.107 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "4.0"
nvidia-cusparse-cu12==12.1.0.106 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "4.0"
nvidia-ml-py==12.560.30 ; python_version >= "3.10" and python_version < "4.0"
nvidia-nccl-cu12==2.20.5 ; python_version >= "3.10" and python_version < "4.0"
nvidia-nvjitlink-cu12==12.6.68 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "4.0"
nvidia-nvtx-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "4.0"
oauthlib==3.2.2 ; python_version >= "3.10" and python_version < "4.0"
omegaconf==2.3.0 ; python_version >= "3.10" and python_version < "4.0"
onnxruntime==1.19.0 ; python_version >= "3.10" and python_version < "4.0"
openai==1.43.0 ; python_version >= "3.10" and python_version < "4.0"
opentelemetry-api==1.27.0 ; python_version >= "3.10" and python_version < "4.0"
opentelemetry-exporter-otlp-proto-common==1.27.0 ; python_version >= "3.10" and python_version < "4.0"
opentelemetry-exporter-otlp-proto-grpc==1.27.0 ; python_version >= "3.10" and python_version < "4.0"
opentelemetry-instrumentation-asgi==0.48b0 ; python_version >= "3.10" and python_version < "4.0"
opentelemetry-instrumentation-fastapi==0.48b0 ; python_version >= "3.10" and python_version < "4.0"
opentelemetry-instrumentation==0.48b0 ; python_version >= "3.10" and python_version < "4.0"
opentelemetry-proto==1.27.0 ; python_version >= "3.10" and python_version < "4.0"
opentelemetry-sdk==1.27.0 ; python_version >= "3.10" and python_version < "4.0"
opentelemetry-semantic-conventions==0.48b0 ; python_version >= "3.10" and python_version < "4.0"
opentelemetry-util-http==0.48b0 ; python_version >= "3.10" and python_version < "4.0"
optimum==1.23.0 ; python_version >= "3.10" and python_version < "4.0"
orjson==3.10.7 ; python_version >= "3.10" and python_version < "4.0"
oss2==2.19.0 ; python_version >= "3.10" and python_version < "4.0"
outlines==0.0.46 ; python_version >= "3.10" and python_version < "4.0"
overrides==7.7.0 ; python_version >= "3.10" and python_version < "4.0"
packaging==24.1 ; python_version >= "3.10" and python_version < "4.0"
pandas==2.2.2 ; python_version >= "3.10" and python_version < "4.0"
peft==0.11.1 ; python_version >= "3.10" and python_version < "4.0"
pillow==10.4.0 ; python_version >= "3.10" and python_version < "4.0"
platformdirs==4.2.2 ; python_version >= "3.10" and python_version < "4.0"
pluggy==1.5.0 ; python_version >= "3.10" and python_version < "4.0"
plumbum==1.8.3 ; python_version >= "3.10" and python_version < "4.0"
pooch==1.8.2 ; python_version >= "3.10" and python_version < "4.0"
posthog==3.6.0 ; python_version >= "3.10" and python_version < "4.0"
preshed==3.0.9 ; python_version >= "3.10" and python_version < "4.0"
prometheus-client==0.20.0 ; python_version >= "3.10" and python_version < "4.0"
prometheus-fastapi-instrumentator==7.0.0 ; python_version >= "3.10" and python_version < "4.0"
propcache==0.2.0 ; python_version >= "3.10" and python_version < "4.0"
protobuf==3.20.1 ; python_version >= "3.10" and python_version < "4.0"
psutil==6.0.0 ; python_version >= "3.10" and python_version < "4.0"
psycopg2-binary==2.9.9 ; python_version >= "3.10" and python_version < "4.0"
py-cpuinfo==9.0.0 ; python_version >= "3.10" and python_version < "4.0"
pyairports==2.1.1 ; python_version >= "3.10" and python_version < "4.0"
pyarrow==17.0.0 ; python_version >= "3.10" and python_version < "4.0"
pyasn1-modules==0.4.0 ; python_version >= "3.10" and python_version < "4.0"
pyasn1==0.6.0 ; python_version >= "3.10" and python_version < "4.0"
pybase16384==0.3.7 ; python_version >= "3.10" and python_version < "4.0"
pycodestyle==2.12.1 ; python_version >= "3.10" and python_version < "4.0"
pycountry==24.6.1 ; python_version >= "3.10" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.10" and python_version < "4.0"
pycryptodome==3.20.0 ; python_version >= "3.10" and python_version < "4.0"
pydantic-core==2.20.1 ; python_version >= "3.10" and python_version < "4.0"
pydantic==2.8.2 ; python_version >= "3.10" and python_version < "4.0"
pydub==0.25.1 ; python_version >= "3.10" and python_version < "4.0"
pyflakes==3.2.0 ; python_version >= "3.10" and python_version < "4.0"
pygments==2.18.0 ; python_version >= "3.10" and python_version < "4.0"
pyjwt==2.9.0 ; python_version >= "3.10" and python_version < "4.0"
pymilvus==2.4.8 ; python_version >= "3.10" and python_version < "4.0"
pynndescent==0.5.13 ; python_version >= "3.10" and python_version < "4.0"
pynvml==11.5.3 ; python_version >= "3.10" and python_version < "4.0"
pyparsing==3.1.4 ; python_version >= "3.10" and python_version < "4.0"
pypdf==5.0.0 ; python_version >= "3.10" and python_version < "4.0"
pypika==0.48.9 ; python_version >= "3.10" and python_version < "4.0"
pyproject-hooks==1.1.0 ; python_version >= "3.10" and python_version < "4.0"
pyreadline3==3.4.1 ; sys_platform == "win32" and python_version >= "3.10" and python_version < "4.0"
pystemmer==2.2.0.1 ; python_version >= "3.10" and python_version < "4.0"
pytest==8.3.3 ; python_version >= "3.10" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.10" and python_version < "4.0"
python-multipart==0.0.9 ; python_version >= "3.10" and python_version < "4.0"
pytorch-wpe==0.0.1 ; python_version >= "3.10" and python_version < "4.0"
pytz==2024.1 ; python_version >= "3.10" and python_version < "4.0"
pywin32==306 ; platform_system == "Windows" and platform_python_implementation != "PyPy" and python_version >= "3.10" and python_version < "4.0"
pyyaml==6.0.2 ; python_version >= "3.10" and python_version < "4.0"
pyzmq==26.2.0 ; python_version >= "3.10" and python_version < "4.0"
rank-bm25==0.2.2 ; python_version >= "3.10" and python_version < "4.0"
ray==2.35.0 ; python_version >= "3.10" and python_version < "4.0"
redis==5.0.8 ; python_version >= "3.10" and python_version < "4.0"
redisvl==0.3.2 ; python_version >= "3.10" and python_version < "4.0"
referencing==0.35.1 ; python_version >= "3.10" and python_version < "4.0"
regex==2024.7.24 ; python_version >= "3.10" and python_version < "4.0"
requests-oauthlib==2.0.0 ; python_version >= "3.10" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.10" and python_version < "4.0"
rich==13.8.0 ; python_version >= "3.10" and python_version < "4.0"
rotary-embedding-torch==0.8.3 ; python_version >= "3.10" and python_version < "4.0"
rpds-py==0.20.0 ; python_version >= "3.10" and python_version < "4.0"
rpyc==6.0.0 ; python_version >= "3.10" and python_version < "4.0"
rsa==4.9 ; python_version >= "3.10" and python_version < "4"
ruff==0.6.3 ; python_version >= "3.10" and python_version < "4.0" and sys_platform != "emscripten"
safetensors==0.4.4 ; python_version >= "3.10" and python_version < "4.0"
scikit-learn==1.5.1 ; python_version >= "3.10" and python_version < "4.0"
scipy==1.14.1 ; python_version >= "3.10" and python_version < "4.0"
semantic-version==2.10.0 ; python_version >= "3.10" and python_version < "4.0"
sentence-transformers==3.0.1 ; python_version >= "3.10" and python_version < "4.0"
sentencepiece==0.2.0 ; python_version >= "3.10" and python_version < "4.0"
sentry-sdk==2.13.0 ; python_version >= "3.10" and python_version < "4.0"
setproctitle==1.3.3 ; python_version >= "3.10" and python_version < "4.0"
setuptools==69.5.1 ; python_version >= "3.10" and python_version < "4.0"
shellingham==1.5.4 ; python_version >= "3.10" and python_version < "4.0"
shortuuid==1.0.13 ; python_version >= "3.10" and python_version < "4.0"
shtab==1.7.1 ; python_version >= "3.10" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
smart-open==7.0.4 ; python_version >= "3.10" and python_version < "4.0"
smmap==5.0.1 ; python_version >= "3.10" and python_version < "4.0"
sniffio==1.3.1 ; python_version >= "3.10" and python_version < "4.0"
sortedcontainers==2.4.0 ; python_version >= "3.10" and python_version < "4.0"
soundfile==0.12.1 ; python_version >= "3.10" and python_version < "4.0"
soupsieve==2.6 ; python_version >= "3.10" and python_version < "4.0"
soxr==0.5.0.post1 ; python_version >= "3.10" and python_version < "4.0"
spacy-legacy==3.0.12 ; python_version >= "3.10" and python_version < "4.0"
spacy-loggers==1.0.5 ; python_version >= "3.10" and python_version < "4.0"
spacy==3.7.5 ; python_version >= "3.10" and python_version < "4.0"
sqlalchemy==2.0.34 ; python_version >= "3.10" and python_version < "4.0"
srsly==2.4.8 ; python_version >= "3.10" and python_version < "4.0"
sse-starlette==2.1.3 ; python_version >= "3.10" and python_version < "4.0"
starlette==0.38.4 ; python_version >= "3.10" and python_version < "4.0"
sympy==1.13.2 ; python_version >= "3.10" and python_version < "4.0"
tabulate==0.9.0 ; python_version >= "3.10" and python_version < "4.0"
tbb==2021.13.1 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Windows"
tenacity==8.5.0 ; python_version >= "3.10" and python_version < "4.0"
tensorboard-data-server==0.7.2 ; python_version >= "3.10" and python_version < "4.0"
tensorboard==2.17.1 ; python_version >= "3.10" and python_version < "4.0"
tensorboardx==2.6.2.2 ; python_version >= "3.10" and python_version < "4.0"
termcolor==2.4.0 ; python_version >= "3.10" and python_version < "4.0"
thinc==8.2.5 ; python_version >= "3.10" and python_version < "4.0"
threadpoolctl==3.5.0 ; python_version >= "3.10" and python_version < "4.0"
tiktoken==0.7.0 ; python_version >= "3.10" and python_version < "4.0"
timm==1.0.9 ; python_version >= "3.10" and python_version < "4.0"
tokenizers==0.19.1 ; python_version >= "3.10" and python_version < "4.0"
toml==0.10.2 ; python_version >= "3.10" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "4.0"
tomlkit==0.12.0 ; python_version >= "3.10" and python_version < "4.0"
torch-complex==0.4.4 ; python_version >= "3.10" and python_version < "4.0"
torch==2.3.0 ; python_version >= "3.10" and python_version < "4.0"
torchaudio==2.3.0 ; python_version >= "3.10" and python_version < "4.0"
torchvision==0.18.0 ; python_version >= "3.10" and python_version < "4.0"
tqdm==4.66.5 ; python_version >= "3.10" and python_version < "4.0"
transformers==4.44.2 ; python_version >= "3.10" and python_version < "4.0"
transformers[sentencepiece]==4.44.2 ; python_version >= "3.10" and python_version < "4.0"
triton==2.3.0 ; python_version >= "3.10" and python_version < "4.0"
trl==0.10.1 ; python_version >= "3.10" and python_version < "4.0"
typer==0.12.5 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.10" and python_version < "4.0"
tyro==0.8.10 ; python_version >= "3.10" and python_version < "4.0"
tzdata==2024.1 ; python_version >= "3.10" and python_version < "4.0"
ujson==5.10.0 ; python_version >= "3.10" and python_version < "4.0"
umap-learn==0.5.6 ; python_version >= "3.10" and python_version < "4.0"
urllib3==2.2.2 ; python_version >= "3.10" and python_version < "4.0"
uvicorn==0.23.2 ; python_version >= "3.10" and python_version < "4.0"
uvicorn[standard]==0.23.2 ; python_version >= "3.10" and python_version < "4.0"
uvloop==0.20.0 ; python_version >= "3.10" and python_version < "4.0"
vector-quantize-pytorch==1.16.2 ; python_version >= "3.10" and python_version < "4.0"
vllm-flash-attn==2.5.9 ; python_version >= "3.10" and python_version < "4.0"
vllm==0.5.0 ; python_version >= "3.10" and python_version < "4.0"
vocos==0.1.0 ; python_version >= "3.10" and python_version < "4.0"
wandb==0.17.8 ; python_version >= "3.10" and python_version < "4.0"
wasabi==1.1.3 ; python_version >= "3.10" and python_version < "4.0"
watchfiles==0.24.0 ; python_version >= "3.10" and python_version < "4.0"
weasel==0.4.1 ; python_version >= "3.10" and python_version < "4.0"
websocket-client==1.8.0 ; python_version >= "3.10" and python_version < "4.0"
websockets==11.0.3 ; python_version >= "3.10" and python_version < "4.0"
werkzeug==3.0.4 ; python_version >= "3.10" and python_version < "4.0"
win32-setctime==1.1.0 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "win32"
wrapt==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
xformers==0.0.26.post1 ; python_version >= "3.10" and python_version < "4.0"
xxhash==3.5.0 ; python_version >= "3.10" and python_version < "4.0"
yapf==0.40.2 ; python_version >= "3.10" and python_version < "4.0"
yarl==1.18.0 ; python_version >= "3.10" and python_version < "4.0"
zipp==3.20.1 ; python_version >= "3.10" and python_version < "4.0"
