toml
fastapi>=0.111.0
loguru>=0.7.2
pydantic<=2.10.6
requests>=2.32.2
uvicorn
cloudpickle>=3.0.0
gradio<5.0.0
gradio-client>=0.6.1
protobuf>=3.20.1
docstring-parser
json5
tiktoken
spacy<=3.7.5
bm25s
pystemmer
nltk
jieba>=0.42.1
pyjwt>=2.8.0
sentencepiece
psycopg2-binary
sqlalchemy
psutil
pypdf
numpy==1.26.4
async-timeout
httpx<0.28.0
docx2txt
ebooklib
html2text
olefile
openpyxl
python-pptx
tenacity
appdirs
loralib
flake8>=7.0.0
chromadb
sentence-transformers
modelscope
pytest
pymilvus>=2.4.11, <2.5.0
rapidfuzz
redis>=5.0.4
huggingface-hub>=0.23.1
pandas>=2.2.2
rank-bm25>=0.2.2
redisvl>=0.1.3
datasets>=2.18.0
deepspeed>=0.12.3
fire>=0.6.0
peft==0.14.0
torch>=2.1.2
transformers==4.51.3
collie-lm>=1.0.7
faiss-cpu>=1.8.0
google>=3.0.0
scikit-learn>=1.5.0
tensorboard>=2.16.2
tensorboard-data-server>=0.7.2
torchvision>=0.16.2
vllm==0.7.3
wandb>=0.17.0
chattts
funasr
timm
diffusers==0.33.1
sortedcontainers
flash-attn
lightllm
lazyllm-llamafactory==0.9.3.dev0
rotary-embedding-torch
infinity-emb==0.0.70
ctranslate2
optimum==1.16.2
typer
pymongo
pymysql
flagembedding
mcp>=1.5.0
pytesseract
openai-whisper
qwen-vl-utils
accelerate==1.6.0
lmdeploy==0.8.0
ftfy==6.3.1
imageio==2.37.0
imageio-ffmpeg==0.6.0

