toml
pyyaml
tqdm
filelock
packaging
fastapi>=0.111.0
loguru>=0.7.2
pydantic
requests>=2.32.2
uvicorn
cloudpickle>=3.0.0
docstring-parser>=0.16,<0.17
json5>=0.9.25,<0.10.0
pyjwt>=2.8.0
psutil>=6.0.0,<7.0.0
deepdiff>=8.6.1
