wikipedia
docx2txt
olefile
pytest-rerunfailures
pytest-order
pytest-xdist
openpyxl
nbconvert
python-pptx
EbookLib
html2text
pytesseract
openai-whisper
pydub
pytest-cov
rapidfuzz
volcengine-python-sdk[ark]>=4.0.6
dashscope>=1.23.6
zhipuai>=2.1.5.20250708
huggingface-hub==0.35.3
pypdf<=6.5.0
