mkdocs
mkdocs-material
mkdocstrings
mkdocstrings-python
mkdocs-static-i18n
mkdocs-section-index
mkdocs-autorefs
annotated-types 
anyio
certifi 
click 
colorama
distro 
dynaconf 
exceptiongroup
h11
httpcore 
httpx 
idna 
libcst==1.4.0 
pydantic-core 
pydantic 
pyyaml 
sniffio
tqdm 
typing-extensions
nbformat
