name: LazyLLM ci
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths-ignore:
      - "**.md"
      - ".git*"
  pull_request_target: {}
env:
  CI_PATH: '/home/mnt/platform_ci/GitHub/${{ github.repository }}/${GITHUB_RUN_NUMBER}'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  Clone:
    runs-on: tps_sco_nv
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create custom directory
        run: |
          set -ex
          echo ${{ env.CI_PATH }}
          mkdir -p ${{ env.CI_PATH }}

      - name: Clean custom directory
        run: |
          set -ex
          if [ -d "${{ env.CI_PATH }}" ]; then
            rm -rf ${{ env.CI_PATH }}/*
          fi

      - name: Move code to custom directory
        run: |
          set -ex
          mv $GITHUB_WORKSPACE/* ${{ env.CI_PATH }}/

  BasicTests:
    runs-on: tps_sco_nv
    needs: [Clone]
    steps:
      - name: RunTests
        run: |
          set -ex
          cd ${{ env.CI_PATH }}
          realpath .
          env | grep '^SCC'
          export LAZYLLM_SCO_ENV_NAME=lazyllm
          export LAZYLLM_DEFAULT_LAUNCHER=sco
          export LAZYLLM_SLURM_PART=a100
          export PYTHONPATH=$PWD:$PYTHONPATH
          export LAZYLLM_SCO_WORKSPACE=expert-services
          export LAZYLLM_DATA_PATH=/mnt/lustre/share_data/lazyllm/data/
          export LAZYLLM_MODEL_PATH=/mnt/lustre/share_data/lazyllm/models
          python -m pytest tests/basic_tests/

  AdvancedTests:
    runs-on: tps_sco_nv
    needs: [Clone]
    steps:
      - name: RunTests
        run: |
          cd ${{ env.CI_PATH }}
          env | grep '^SCC'
          export LAZYLLM_SCO_ENV_NAME=lazyllm
          export LAZYLLM_DEFAULT_LAUNCHER=sco
          export LAZYLLM_SLURM_PART=a100
          export PYTHONPATH=$PWD:$PYTHONPATH
          export LAZYLLM_SCO_WORKSPACE=expert-services
          export LAZYLLM_DATA_PATH=/mnt/lustre/share_data/lazyllm/data/
          export LAZYLLM_MODEL_PATH=/mnt/lustre/share_data/lazyllm/models
          python -m pytest tests/advanced_tests/

  ChargeTests:
    runs-on: tps_sco_nv
    needs: [Clone]
    env:
      LAZYLLM_MOONSHOTAI_API_KEY: ${{ secrets.LAZYLLM_MOONSHOTAI_API_KEY }}
      LAZYLLM_GLM_API_KEY: ${{ secrets.LAZYLLM_GLM_API_KEY }}
      LAZYLLM_DASHSCOPE_API_KEY: ${{ secrets.LAZYLLM_DASHSCOPE_API_KEY }}
      LAZYLLM_SENSENOVA_ACCESS_KEY_ID: ${{ secrets.LAZYLLM_SENSENOVA_ACCESS_KEY_ID }}
      LAZYLLM_SENSENOVA_ACCESS_KEY_SECRET: ${{ secrets.LAZYLLM_SENSENOVA_ACCESS_KEY_SECRET }}
    steps:
      - name: RunTests
        run: |
          cd ${{ env.CI_PATH }}
          env | grep '^SCC'
          export PYTHONPATH=$PWD:$PYTHONPATH
          python -m pytest tests/charge_tests

