name: Upload PyPI And Release

on:
  push:
    tags:
      - "v*"

  workflow_dispatch:

env:
  POETRY_VERSION: "1.8.3"
  PYTHON_VERSION: "3.10.9"
  PYPI_URL: "https://test.pypi.org/legacy/"

defaults:
  run:
    shell: bash

jobs:
  check-exists:
    name: Check Pypi version exists
    if: github.repository == 'CompromisedKiwi/LazyLLM'
    runs-on: ubuntu-latest
    outputs:
      TAG: ${{ steps.set_tag_var.outputs.tag }}
      pypi_version_exists: ${{ steps.pypi_check.outputs.pypi_version_exists }}
    steps:
      - name: Extract tag from ref
        id: set_tag_var
        run: |
          FULL_TAG_NAME="${{ github.ref_name }}"
          echo "tag=${FULL_TAG_NAME#v}" >> $GITHUB_OUTPUT

      - uses: actions/checkout@v4
        with:
          submodules: false
          fetch-depth: 0

      - name: Set up python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: ${{ env.POETRY_VERSION }}

      - name: Check PyPI for existing version
        id: pypi_check
        run: |
          TAG=${{ steps.set_tag_var.outputs.tag }}
          echo "TAG: ${TAG}"
          PACKAGE_NAME=$(poetry version | awk '{print $1}')
          RESPONSE=$(curl -s https://test.pypi.org/pypi/$PACKAGE_NAME/json)
          if echo "$RESPONSE" | jq -e ".releases | has(\"$TAG\")"; then
            echo "Version $TAG already exists on PyPI. Skipping publish."
            echo "pypi_version_exists=true" >> $GITHUB_OUTPUT
          else
            echo "Version $TAG does not exist on PyPI. Proceeding with publish."
            echo "pypi_version_exists=false" >> $GITHUB_OUTPUT
          fi

  build-doc:
    name: Build docs
    needs: check-exists
    if: needs.check-exists.outputs.pypi_version_exists == 'false'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: false
          fetch-depth: 0

      - name: Init specific submodule
        run: |
          git submodule update --init LazyLLM-Env
          git submodule update --init csrc/thirdparty/pybind11

      - name: Set up python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: ${{ env.POETRY_VERSION }}

      - name: Update version in pyproject.toml and __init__.py
        run: |
          TAG=${{ needs.check-exists.outputs.TAG }}
          echo "TAG: ${TAG}"
          sed -i "s#^version = \".*\"#version = \"$TAG\"#" pyproject.toml
          sed -i "s#^__version__ = '.*'#__version__ = '$TAG'#" lazyllm/__init__.py

      - name: Install deps
        shell: bash
        run: pip install -e .

      - name: Test import
        working-directory: /tmp
        shell: bash
        run: python -c "import lazyllm"

      - name: Check requirements
        shell: bash
        run: |
          pip install toml
          python scripts/check_requirements.py

      - name: Copy files
        shell: bash
        run: cp LazyLLM-Env/poetry.lock . && cp pyproject.toml lazyllm/

      - name: Build doc
        run: |
          set -ex
          export PYTHONPATH=$PWD:$PYTHONPATH
          pip install -r requirements.txt
          pip install -r docs/requirements.txt
          python docs/add_docstrings.py

      - name: Clean cache
        shell: bash
        run: |
          pip cache purge
          pip freeze | grep -v "^-e" | xargs pip uninstall -y
      
      - name: Tar repo with docs
        run: |
          touch repo-with-docs.tar.gz
          tar --exclude=.git --exclude=repo-with-docs.tar.gz \
            -czf repo-with-docs.tar.gz .
          ls -lh repo-with-docs.tar.gz

      - name: Upload repo artifact (with docs inserted)
        uses: actions/upload-artifact@v4
        with:
          name: repo-with-docs
          path: repo-with-docs.tar.gz
          retention-days: 7

  build-wheel-rollback-version:
    needs: build-doc
    runs-on: ubuntu-latest
    steps:
      - name: Download repo-with-docs
        uses: actions/download-artifact@v4
        with:
          name: repo-with-docs
          path: ./repo_artifact

      - name: Extract repo-with-docs
        run: |
          set -ex
          mkdir -p repo
          tar -xzf repo_artifact/repo-with-docs.tar.gz -C repo
          # copy extracted content to workspace root (overwrite)
          cp -a repo/. ./
          # show a bit for debug
          ls -la | sed -n '1,200p'

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install build deps
        run: |
          pip install build poetry

      - name: Build default wheel
        run: |
          sed -i '/build = "build.py"/d' pyproject.toml
          poetry build -f wheel
          ls -la dist/

      - name: Upload wheel artifact
        uses: actions/upload-artifact@v4
        with:
          name: wheels-pure-python
          path: dist/*.whl
          retention-days: 7

  build-wheel-with-cpp-extension:
    name: Build wheels with native extensions (${{ matrix.os }}-py${{ matrix.python-version }})
    needs: build-doc
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    
    steps:
      - name: Download repo-with-docs
        uses: actions/download-artifact@v4
        with:
          name: repo-with-docs
          path: ./repo_artifact

      - name: Extract repo-with-docs
        run: |
          set -ex
          mkdir -p repo
          tar -xzf repo_artifact/repo-with-docs.tar.gz -C repo
          # copy extracted content to workspace root (overwrite)
          cp -a repo/. ./
          # show a bit for debug
          ls -la | sed -n '1,200p'

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install build deps
        run: |
          pip install -U pip build pybind11 poetry

      - name: Build C++ extension
        run: |
          set -ex
          mkdir -p build && cd build
          cmake ../csrc
          cmake --build .

      - name: Build wheel
        run: |
          poetry build -f wheel
          ls -la dist/

      - name: Build wheel
        run: |
          # Invoke poetry build by cibuildwheel, for automatic dependency bundling
          pip install cibuildwheel==2.22.0
          python -m cibuildwheel --output-dir repaired_wheel
          ls -la dist/
          ls -la repaired_wheel/
        env:
          CIBW_SKIP: "*-win32 *-manylinux_i686" # 跳过不兼容的架构（如 32位 Windows）
          CIBW_MANYLINUX_X86_64_IMAGE: manylinux2014

      - name: Upload wheel artifact
        uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}-py${{ matrix.python-version }}
          path: repaired_wheel/*.whl
          retention-days: 7

  publish:
    name: publish to PyPI
    if: github.repository == 'CompromisedKiwi/LazyLLM'
    needs: [build-wheel-with-cpp-extension, build-wheel-rollback-version]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: wheels-*
          path: ./dist
          merge-multiple: true

      - name: List downloaded files
        run: |
          echo "Files in dist directory:"
          ls -la ./dist/

      - name: Publish all wheels to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: ${{ env.PYPI_URL }}
          packages_dir: dist/

  check-multi-platform-installation:
    name: Check multi-platform installation
    needs: publish
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - name: Set up Python
        uses: actions/setup-python@v5

      - name: Install LazyLLM from PyPI
        run: |
          pip install --index-url ${{ env.PYPI_URL }} lazyllm

      - name: Verify installation
        run: |
          python -c "import LazyLLM; print(LazyLLM.__version__)"
          python -c "from lazyllm_cpp import *"

  check-release:
    name: check and create GitHub Release
    needs: publish
    runs-on: ubuntu-latest
    steps:
      - name: Check if GitHub Release exists
        id: release_check
        run: |
          RELEASE_TAG=${GITHUB_REF#refs/tags/}
          RELEASES=$(curl -H "Authorization: token ${{ secrets.PERSONAL_GITHUB_TOKEN }}" -s https://api.github.com/repos/${GITHUB_REPOSITORY}/releases)
          if echo "$RELEASES" | jq -e ".[] | select(.tag_name == \"$RELEASE_TAG\")" > /dev/null; then
            echo "Release $RELEASE_TAG already exists. Skipping release creation."
            echo "release_exists=true" >> $GITHUB_ENV
            UPLOAD_URL=$(echo "$RELEASES" | jq -r ".[] | select(.tag_name == \"$RELEASE_TAG\") | .upload_url")
            echo "upload_url=$UPLOAD_URL" >> $GITHUB_ENV
          else
            echo "Release $RELEASE_TAG does not exist. Proceeding with release creation."
            echo "release_exists=false" >> $GITHUB_ENV
          fi

      - name: Create GitHub Release
        if: env.release_exists == 'false'
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: false
          prerelease: false

      - name: Set upload_url for new release
        if: env.release_exists == 'false'
        run: echo "upload_url=${{ steps.create_release.outputs.upload_url }}" >> $GITHUB_ENV

      - name: Get Asset name
        run: |
          export PKG=$(ls dist/ | grep tar)
          set -- $PKG
          echo "name=$1" >> $GITHUB_ENV
          
      - name: Upload Release Asset (sdist) to GitHub
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
        with:
          upload_url: ${{ env.upload_url }}
          asset_path: dist/${{ env.name }}
          asset_name: ${{ env.name }}
          asset_content_type: application/zip
