name: Reusable Test Workflow

on:
  workflow_call:
    inputs:
      CI_PATH:
        required: true
        type: string
      tests_dir:
        required: true
        type: string
      changed_files:
        required: true
        type: string
      markers:
        required: true
        type: string
      launcher:
        required: false
        default: "sco"
        type: string
      nproc:
        required: false
        default: 1
        type: number

jobs:
  test:
    runs-on: tps_sco_nv
    env:
      CHANGED_FILES: ${{ inputs.changed_files }}
    steps:
      - name: Run tests
        run: |
          echo "ci_path=${{ inputs.CI_PATH }}"
          echo "tests_dir=${{ inputs.tests_dir }}"
          echo "markers=${{ inputs.markers }}"
          cd ${{ inputs.CI_PATH }}
          env | grep '^SCC'
          export LAZYLLM_SCO_ENV_NAME=lazyllm
          export LAZYLLM_DEFAULT_LAUNCHER=${{ inputs.launcher }}
          export PYTHONPATH=$PWD:$PYTHONPATH
          export LAZYLLM_DATA_PATH=/mnt/lustre/share_data/lazyllm/data/
          export LAZYLLM_MODEL_PATH=/mnt/lustre/share_data/lazyllm/models
          export LAZYLLM_HOME="${{ inputs.CI_PATH }}/${{ github.run_id }}-${{ github.job }}"
          pip install pytest-xdist
          mkdir -p $LAZYLLM_HOME
          source ~/ENV/env.sh
          if [ -f ${{ inputs.tests_dir }}/.pytest_cache/v/cache/lastfailed ]; then
            pytest --lf --last-failed-no-failures=none -n ${{ inputs.nproc }} --dist=loadfile \
              -m "${{ inputs.markers }}" --order-scope=class --durations=0 --reruns=2 -v --cov=lazyllm --cov-append --cov-report=html \
              --override-ini=cache_dir=${{ inputs.tests_dir }}/.pytest_cache \
              ${{ inputs.tests_dir }}
          else
            pytest -n ${{ inputs.nproc }} --dist=loadfile -m "${{ inputs.markers }}" --order-scope=class --durations=0 --reruns=2 -v --cov=lazyllm --cov-append --cov-report=html \
              --override-ini=cache_dir=${{ inputs.tests_dir }}/.pytest_cache \
              ${{ inputs.tests_dir }}
          fi
